@font-face {
  font-family: 'iconfont';  /* project id 572320 */
  src: url('https://at.alicdn.com/t/font_572320_rk3d68gbsfzme7b9.eot');
  src: url('https://at.alicdn.com/t/font_572320_rk3d68gbsfzme7b9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_572320_rk3d68gbsfzme7b9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_572320_rk3d68gbsfzme7b9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_572320_rk3d68gbsfzme7b9.svg#iconfont') format('svg');
}



.homepage_top::-webkit-scrollbar{
	display: none;/* 实现元素显示隐藏 *//* 消失 */
	display: block;
}
head h1{   
	font-size:100%;   
	font-weight:normal; 
}
body{
	font-size: 0.12rem;
	background-color: #F5F5F5;
}

#homepage{
	/* width: 100vw;设置一屏
	height: 100vh;设置一屏
	background-color: plum;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999; */
	/* position: absolute; */
	/* position: relative; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

header{
	width: 100%;
	height: 1.46rem;
	background-color: #F04449;
	padding: 0 0.45rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	z-index:9999;
  	position:fixed;/*固定作用*/
  	top:0px;
 
  
}
.search{
	width: 9.9rem;
	height: 1.08rem;
	background-color: #EBE9EA;
	border: 0;
	border-radius: .2rem;
	margin-top: 0.21rem;
	font-family: 'iconfont';
}





.homepage_top{
	width: 9.9rem;
	height: 3.37rem;
	background-color: #fff;
	margin: 0.39rem 0.45rem 0.28rem;
	margin-top: 2rem;
}
.homepage_top1{
	width: 3.3rem;
	height: 3.37rem;
	float: left;
	position: relative;
}
.homepage_top_img{
	width: 1.78rem;
	height: 1.8rem;
	margin: auto;
	margin-top: 0.64rem;
}
.homepage_top_word{
	font-size: 0.32rem;
	color: #868686;
	position: absolute;
	bottom: 0.39rem;
	left: 1.03rem;
}



.homepage_banner{
	height: 4.48rem;
	width: 9.9rem;
	margin: auto;
	border-bottom: 0.02rem solid #D6D6D6;
}
.homepage_banner_img{
	height: 4.06rem;
	width: 9.9rem;
	
}
.homepage_title_1{
	font-size: 0.49rem;
	margin-top: 0.36rem;
	margin-left: 0.56rem;

}





.homepage_today{
	width: 100%;
	height: 5.32rem;
	margin-left: 0.45rem;
	margin-top: 0.46rem;
	overflow-x:scroll;
	display: flex;
	border-bottom: 0.02rem solid #D6D6D6;
}
.homepage_today_1{
	width: 3.45rem;
	height: 5.32rem;
	float: left;
	margin-right: 0.15rem;
	position: relative;
}
.homepage_today_img{
	width: 3.45rem;
	height: 3.45rem;
}
.homepage_today_word{
	margin-left:  0.06rem;
	margin-top: 0.2rem;
	font-size: 0.32rem;
}
.homepage_today_quan{
	width: 1.4rem;
	height: 0.5rem;
	background-color: #FF5C4D;
	margin-top: 0.27rem;
	margin-left: 0.09rem;
	border-radius: .15rem;
}
.homepage_today_quanword{
	font-size: 0.25rem;
	text-align: center;
	color: #fff;
	font-style: normal; 
}
.homepage_today_price{
	position: absolute;
	color: #FF5C4D;
	font-size: 0.3rem;
	bottom: 0.35rem;
	right: 0.19rem;
}






.homepage_imgback{
	width: 10rem;
	height: 7.75rem;
	margin-left: 0.4rem;
	margin-top: 0.72rem;
	display: inline-block;
}
.homepage_imgback_1{
	width: 4.83rem;
	height: 7.75rem;
	position: relative;
	display: inline-block;
}
.homepage_img_111{
	width: 4.83rem;
	height: 4.83rem;	
}
.homepage_imgwenzi_all{
	margin-top: 0.32rem;
	margin-left: 0.15rem;
}

.homepage_imgwenzi{
	margin-top: 0.25rem;
	margin-left: 0.31rem;
	width: 100%;
	height: 0.39rem;
}
.homepage_imgwenzi_1,.homepage_imgwenzi_2{
	font-size: 0.15rem;
	color: #b0b0b0;
	float: left;
}
.homepage_imgwenzi h3{
	margin-left: 0.45rem;
}
.homepage_imgwenzi_3{
	position: absolute;
	bottom: 0.63rem;
	right: 0.45rem;
	color: #FF5C4D;
}
.homepage_imgback_2{
	display: inline-block;
	width: 4.83rem;
	height: 7.75rem;
	position: relative;
	float: right;

}
.homepage_imgback000{
	margin-top: 0.2rem;
	margin-bottom: 1.5rem;
}







.homepage_bigbottom{
	z-index:9999;
  	position:fixed;/*固定作用*/
  	bottom: 0px;
	width: 100%;
	height: 1.46rem;
	background-color: #fff;
	border-top: 0.03rem solid #D6D6D6;

}
.homepage_bigbottom_1{
	width: 2.6rem;
	height: 1.46rem;
	position: relative;
	display: inline-block;
}
.homepage_ico1{
	font-family: 'iconfont';
	font-size: 0.66rem;
	position: absolute;
	top: 0.1rem;
	left: 1rem;
	display: inline-block;
}
.homepage_ico1_word{
	font-size: 0.27rem;
	position: absolute;
	bottom: 0.11rem;
	left: .96rem;
	display: inline-block;
}

.homepage_bigbottom_1 a{
	color: #BDBDBD;
}
.homepage_bigbottom_0 a{
	color: #F0403C;
}