@font-face {
  font-family: 'iconfont';  /* project id 572320 */
  src: url('https://at.alicdn.com/t/font_572320_60yn9fiao2sm7vi.eot');
  src: url('https://at.alicdn.com/t/font_572320_60yn9fiao2sm7vi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_572320_60yn9fiao2sm7vi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_572320_60yn9fiao2sm7vi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_572320_60yn9fiao2sm7vi.svg#iconfont') format('svg');
}




/* .homepage_top::-webkit-scrollbar{
	display: none;/* 实现元素显示隐藏 *//* 消失 */
	display: block;
} */
head h1{   
	font-size:100%;   
	font-weight:normal; 
}
body{
	font-size: 0.12rem;
	background-color: #fff;
}

#my{
	/* width: 100vw;设置一屏
	height: 100vh;设置一屏
	background-color: plum;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999; */
	/* position: absolute; */
	/* position: relative; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

header{
	width: 100%;
	height: 4.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	position: relative;
  
}
.back1{
	position: absolute;
	top: .85rem;
	left: .91rem;
	width: 2.68rem;
	height: 2.68rem;
}
.name{
	position: absolute;
	top: 1.4rem;
	left: 3.8rem;
	width: 3.53rem;
	height: 1.58rem;
/* 	background-color: pink; */
}
.name1{
	font-family: 'iconfont';
	font-size: 0.4rem;
	font-weight: bold;
	color: #FCBFB0;
}





.wenzi{
	width: 10.38rem;
	height: 1.5rem;
	float: right;
	border-bottom: 0.03rem solid #DCDCDC;
	font-size: .2rem;
	line-height: 1.5rem;
	display: inline-block;
}
.wenzi span{
	display: inline-block;
	float: right;
	margin-right: 0.5rem;
	font-size: 0.6rem;
}
.wenzi h1{
	display: inline-block;

}
.lianxi{
	width: 10.38rem;
	height: 1.5rem;
	float: right;
	font-size: .2rem;
	line-height: 1.5rem;
}
.lianxi1{
	margin-left: 4.2rem;
	font-size: 0.4rem;
	text-decoration-line: underline;
	color: red;
}





.fenlei_imgback{
	width: 9.9rem;
	height: 2.79rem;
	margin: 0.39rem 0.45rem 0.28rem;
	margin-top: 2rem;
	display: inline-block;
}
.fenlei_imgbacksmall{
	width: 2.38rem;
	height: 2.79rem;
	display: inline-block;
}
.fenlei_img1{
	width: 1.8rem;
	height: 1.8rem;
	margin-left: 0.3rem;
	line-height: 1.2rem;
	float: left:;
}
.fenlei_imgbacksmall {
	text-align: center;
}
.fenlei_imgback000{
	width: 9.9rem;
	height: 2.79rem;
	margin: 0.39rem 0.45rem 0.28rem;
	margin-top: -0.5rem;
	display: inline-block;
}



.homepage_bigbottom{
	z-index:9999;
  	position:fixed;/*固定作用*/
  	bottom: 0px;
	width: 100%;
	height: 1.46rem;
	background-color: #fff;
	border-top: 0.03rem solid #D6D6D6;

}
.homepage_bigbottom_1{
	width: 2.6rem;
	height: 1.46rem;
	position: relative;
	display: inline-block;
	color: #BDBDBD;
}
.homepage_ico1{
	font-family: 'iconfont';
	font-size: 0.66rem;
	position: absolute;
	top: 0.1rem;
	left: 1rem;
	display: inline-block;
}
.homepage_ico1_word{
	font-size: 0.27rem;
	position: absolute;
	bottom: 0.11rem;
	left: .96rem;
	display: inline-block;
}
.homepage_bigbottom_1 a{
	color: #BDBDBD;
}
.homepage_bigbottom_0 a{
	color: #F0403C;
}